[Unit]
Description=Plex Media Server
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull tyauvil/plex:latest
ExecStart=/usr/bin/docker run --rm --net="host" --name %n -v /var/local/plex:/config -v /var/share/media:/media tyauvil/plex:latest
ExecStop=-/usr/bin/docker stop %n
ExecReload=-/usr/bin/docker restart %n

[Install]
WantedBy=multi-user.target
